/* container */
.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
}

.question {
    display: flex;
    background-color: #212738;
    max-width: 400px;
    max-height: 400px;
    color: #A9A9A9;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(33, 39, 56, 0.2), 0 6px 20px 0 rgba(33, 39, 56, 0.19);
    font-family: 'Roboto Mono', monospace;
}

.question-link {
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
    word-wrap: break-word;
    padding: 20px;
    padding-top: 10px;
    color: #A9A9A9;
}

.question-link:hover {
    color: #697090;
}

.question-created, .question-username {
    padding-top: 10px;
}