/* container */
.question-container {
    display: flex;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
}

.question {
    background-color: #212738;
    max-width: 450px;
    max-height: 450px;
    color: #A9A9A9;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(33, 39, 56, 0.2), 0 6px 20px 0 rgba(33, 39, 56, 0.19);
    font-family: 'Roboto Mono', monospace;
}