/* container */
.question-container {
    display: flex;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
    position: sticky;
}

.question {
    background-color: #212738;
    max-width: 450px;
    max-height: 450px;
    color: #A9A9A9;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(33, 39, 56, 0.2), 0 6px 20px 0 rgba(33, 39, 56, 0.19);
    font-family: 'Roboto Mono', monospace;
}

/* delete buttons */
.delete-button {
    justify-self: center;
    margin-left: auto;
    text-align: center;
    border: 0px solid transparent;
    height: 40px;
    width: 60px;
    margin: 5px;
    padding: 2px;
    color: #A9A9A9;
    background-color: #697090;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #34394B;
    border: 2px solid #212738;
    border-radius: 5%;
}