.profile-container {
    display: flex;
    justify-content: center;
}

.user-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-width: 450px;
    /* max-height: 450px; */
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 60px;
}

.user-questions-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    background-color: #212738;
    box-shadow: 0 4px 8px 0 rgba(33, 39, 56, 0.2), 0 6px 20px 0 rgba(33, 39, 56, 0.19);
    margin-bottom: 60px;
}

.user-page-question-title {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #A9A9A9;
    font-family: 'Roboto Mono', monospace;
}

.profile-question {
    font-family: 'Roboto Mono', monospace;
    color: #A9A9A9;
    padding: 25px;
}

.profile-question:hover {
    color: #697090;
}
