.footer-container {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #212738;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
    z-index: 1;
}

.footer-link {
    justify-content: center;
    color: #A9A9A9;
    margin-right: 5px;
}

.footer-link:hover {
    color: #697090;
}

.about-link:hover {
    transition: all 1s ease-out;
    transform: scale(1.5);
    filter: invert(100%);
}