body {
    font-family: 'Roboto Mono', monospace;
}

.nav {
    list-style-type: none;
    background-color: #212738;
    height: 40px;
    border-radius: 5px;
}

/* link styles */
.nav-link {
    float: right;
    color: #A9A9A9;
    height: 40px;
    width: 60px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.link-new_question {
    background: url("./assets/question.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 40px;
    width: 60px;
}

.nav-link:hover,
.profile-button:hover {
    background-color: #44425A;
    color: #A9A9A9;
}

.nav .nav-link.active {
    background-color: #697090;
    color: #A9A9A9;
}


/* profile button styles */
.icon {
    background: url("./assets/profile.png");
    height: 40px;
    width: 50px;
    background-repeat: no-repeat;
    margin-left: 3px;
    padding: 0;
    overflow: hidden;
}

.profile-button {
    height: 40px;
    width: 60px;
    background-color: #44425A;
    border: 0px solid #34394B;
    border-radius: 5px;
}

.profile-button:hover,
.nav-link:hover {
    background-color: #44425A;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
    border: 2px solid #212738;
    border-radius: 10px;
}

.profile-dropdown {
    position: relative;
    color: #A9A9A9;
    max-width: 280px;
    word-wrap: break-word;
    background-color: #697090;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
    font-family: 'Roboto Mono', monospace;
}

.triangle {
    width: 0;
    height: 0;
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 21px;
    border-radius: 5%;
    border-bottom: 10px solid #697090;
    box-shadow: 0 4px 8px 0 rgba(33, 39, 56, 0.2), 0 6px 20px 0 rgba(33, 39, 56, 0.19);
}

.logout-button {
    text-align: center;
    border: 0px solid transparent;
    height: 40px;
    width: 60px;
    margin-top: 10px;
    padding: 2px;
    color: #978e8e;
    background-color: #212738;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.logout-button:hover,
.link:hover {
    background-color: #34394B;
    border: 2px solid #212738;
    border-radius: 5%;
}