.nav {
    list-style-type: none;
    background-color: #212738;
    height: 40px;
    border-radius: 5%;
}

/* link styles */
.link-login,
.link-signup,
.link-home {
    float: right;
    color: #A9A9A9;
    height: 40px;
    width: 60px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5%;
}

/* .link:hover {
    background-color: #44425A;
    color: #A9A9A9;
} */

.nav .link-home.active, 
.nav .link-login.active, 
.nav .link-signup.active, {
    background-color: #697090;
    color: #A9A9A9;
}


/* profile button styles */
.fas {
    color: #A9A9A9;
    margin: 0;
}

.profile-button {
    height: 40px;
    width: 60px;
    background-color: #697090;
    border: 1px solid #34394B;
    border-radius: 5%;
}

.profile-button:hover, .fas:hover {
    background-color: #697090;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
}

.profile-dropdown {
    color: #A9A9A9;
    max-width: 100px;
    background-color: #697090;
    align-items: center;
    border-radius: 5%;
    margin-left: 15px;
    padding: 5px;
    box-shadow: 0 8px 8px 0 rgba(33, 39, 56, 0.2);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 20px;
    border-radius: 5%;
    border-bottom: 10px solid #697090;
    box-shadow: 0 4px 8px 0 rgba(33, 39, 56, 0.2), 0 6px 20px 0 rgba(33, 39, 56, 0.19);
}

.logout-button {
    margin-left: auto;
    text-align: center;
    border: 0px solid transparent;
    height: 40px;
    width: 60px;
    margin: 5px;
    padding: 2px;
    color: #A9A9A9;
    background-color: #212738;
    border-radius: 5%;
}

.logout-button:hover,
.link:hover {
    background-color: #34394B;
    border: 2px solid #212738;
    border-radius: 5%;
}